.menu {
    position: relative;
    display: flex;
    z-index: 100;
}

.menu_item_wrapper {
    position: relative;
    cursor:pointer;
    height: 100%;
    z-index: 100;
}

.menu_item {
    position: relative;
    height: 100%;
    padding: 14px;
    z-index: 100;
    background-color: #ddd;
    user-select: none;
}

.menu_item:hover {
    background-color: #ccc;
}

.menu_item_space {
    flex:1;
}

.trigger {
    transform: translateY(-2px);
    text-wrap-mode: nowrap;
}

.has_children_icon {
    margin-inline-start: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item_list {
    width: max-content;
}

.sub_menu_wrapper {
    position: absolute;
    cursor:pointer;
    background-color: #ccc;
    padding: 20px 0;
    white-space: nowrap;
}

.sub_menu {
    position: relative;
    padding: 5px 10px;
    display: flex;
}

.sub_menu:hover {
    background: black;
}

.dropback {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.sub_sub_menu_wrapper {
    position: absolute;
    cursor:pointer;
    padding: 20px 0;
    top: 0;
    background-color: #ccc;
}

.icon_wrapper {
    width: 100%;
    height: 60px;
}

.icon {
    margin: 20px;
    cursor: pointer;
}
