
li {
  position: relative;
}
ol li::before {
content: "";
  position: absolute;
  left: 0;
  top: 4px; /* fine-tune alignment */
  width: 20px;
  height: 20px;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/960px-Flag_of_the_United_States.svg.png');
background-size: contain;
  background-repeat: no-repeat;}


ol {
  list-style-type: none;
}
.img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

    



